@font-face {
  font-family: "LogoName";
  src: url(../assets/BoostPlayer_PERSONAL_USE_ONLY.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.NavBar_Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0 20px;
}

.logo {
  font-family: "LogoName";
  font-size: 40px;
  color: black;
}

ul {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  list-style: none;
  font-size: 20px;
  margin-right: 10px;
}
.NavBar_Container ul li{
  height: 45px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  padding: 3px;
  border: 1px solid black;
  border-radius: 10px;
  padding-top: 10px;
}



.login-select {
  text-align: center;
  font-weight: bold;
  max-width: 100px;
  height: 45px;
  font-size: 15px;
  padding: 3px;
  background: inherit;
  border: 1px solid black;
  outline: none;
  color: black;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  appearance: none;
}

.login-select option {
  color: black;
  background: white;
}
