.main-content {
    padding-top: 56px; /* Push content down */
}

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}

body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer & Edge */
}